*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
  }
  body{
  font-family:sans-serif;
  line-height:2;
  }
  nav{
    position:fixed;
    left:0;
    border-right:3px solid rgb(150,150,150);
    height:100%;
    width:300px;
    z-index:1;
  }
  header{
    font-size:1.5rem;
    margin:10px;
    display:block;
    font-weight:300;
    text-align:center;
  }
  aside{
    height:88%;
    width:100%;
    overflow:auto;
  
  }
  .nav-link{
   
    text-decoration:none;
    color:black;
    
  display:inline-block;
  width:100%;
  border-top:1px solid black;
  padding:13px;
  position:relative;
  
  }
  main{
    position:absolute;
    margin-left:325px;
    margin-top:20px;
  }
  #main-doc header{
    text-align:left;
  }
  article{
    margin:15px;
  }
  article p{
    margin-left:20px;
    }
  article li{
    margin-left:40px;
    }
  code{
    display:block;
    background-color:#f7f7f7;
    padding:15px;
    margin:10px;
    border-radius:5px;
    line-height:2;
  }
  
  @media screen and (max-width:800px){
   nav{
    position:absolute;
    top:0;
    border-right:3px solid rgb(150,150,150);
    height:300px;
    width:100%;
    z-index:1;
  }
  main{
    position:relative;
    margin:350px 3px 20px 3px;
    width:100%;
   
  }
  }